.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.search-full-width {
  width: 100%;
}

.searchinput {
    width: 100%;
    padding: 5px 5px;
    margin: 18px 0;
    box-sizing: border-box;
    border: 2px solid primary;
    font-family: Arial, FontAwesome;
    font-size: 16px;
}
