.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.search-full-width {
  width: 100%;
}

.searchinput {
    padding: 5px 5px;
    margin: 18px 0;
    box-sizing: border-box;
    border: 2px solid primary;
    font-size: 18px;
    outline: none;
    background-color: #3CBC8D;
    color: white;
}

input[type=text] {
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
  background-color: lightblue;
}
