@if (event()) {
@let evt = event();
<mat-card class="mat-elevation-z2">
   <mat-card-header>
      <mat-card-title>{{ evt.name }}</mat-card-title>
      <mat-card-subtitle>
         {{ evt.date | date }} - {{ evt.club }}
      </mat-card-subtitle>
   </mat-card-header>
   <mat-card-content>
      <mat-divider />
      <div class=grid>
         <span> Event Key:</span><span> {{ evt.key }} </span>

         <span> Grade:</span><span> {{ evt.grade }} </span>
         <span> Type:</span><span> {{ evt.type }} </span>
         <span> Discipline:</span><span> {{ evt.discipline }} </span>
         <span> Webpage:</span><span> {{ evt.webpage }} </span>


         @if (evt.splits) {

         @let splits = evt.splits;
         <span>File name:</span> <span>{{splits.splitsFilename}}</span>
         <span>Upload date: </span> <span> {{splits.uploadDate | date}}</span>
         <span>File format: </span> <span> {{splits.splitsFileFormat}}</span>

         @if (splits.valid === false) {
         <span>Failure reason</span> <span class=error> {{splits.failurereason}}</span>
         }
         } @else {
         <span class=error> NO SPLITS UPLOADED</span>
         }
      </div>
      <mat-divider />

      @if (evt.summary && evt.summary.courses.length > 0) {
      <span>Summary</span>
      <div class="grid">
         @let summary = evt.summary;
         <span>No of competitors</span><span> {{summary.numcompetitors}}</span>
      </div>
      <table>
         <thead>
            <th>Course</th>
            <th>Length</th>
            <th>Climb</th>
            <th>Competitors</th>
         </thead>
         @for (course of summary.courses; track course.name) {
         <tr>
            <td>{{course.name}}</td>
            <td>{{formatCourseLength(course.length)}}</td>
            <td>{{course.climb}}</td>
            <td>{{course.numcompetitors}}</td>
         </tr>
         }
      </table>
      <mat-divider />
      }

   </mat-card-content>
   <mat-card-actions>

      <button matButton="tonal" (click)="downloadSplits(evt)">Download Splits</button>

   </mat-card-actions>
</mat-card>
}