@if (!auth.loggedIn()) {
  <div class="message">
    You need to be logged in to view your events
    <div class=messagebuttons>
      <button mat-button routerLink="/auth/login">Login</button>
      <button mat-button routerLink="/auth/signup">Register</button>
    </div>
  </div>
} @else if (us.user().results.length === 0) {
  <div class="message">
    You have not added any results yet.
    @if (!es.selectedEvent()) {
      Select an event to add.
    } @else {
      <div class=messagebuttons>
        <app-user-result-button appearance="text" />
      </div>
    }
  </div>
} @else {
  <app-user-results-table [userResults]="us.user().results" />
}
