:host {
   overflow-y: scroll;
   height: 100%;
}

.green {
   color: hsl(120, 81%, 55%);
}

.red {
   color: red;
}

.error {
   color: var(--mat-sys-on-error);
   background-color: var(--mat-sys-error);
   padding-bottom: 5px;
   padding-left: 7px;
   border-radius: 5px;
}

