
.fill-client-area {
  width: 100%;
  height: 100%;
}

.scrolling-content {
  overflow-y: scroll;
  position: relative;
}

.list-header {
  font-weight: bold !important;
  font-size: 15px !important;
}