@use '@angular/material' as mat;

:host {
   flex-grow: 1;
   overflow: scroll;
   min-height: 20px;
   max-height: 100%;
   height: 100%;
}

.top-controls {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 0px 8px;
}

ol {
   margin: 3px;
   padding: 0px;
}

li {
   display: grid;
   grid-template-columns: 28px 1fr 1fr 48px;
   grid-template-rows: auto;
   grid-template-areas:
      "left name name time"
      "left club oclass behind";
   padding-top: 5px;
}

.circle {
   grid-area: left;
}

.name {
   font: var(--mat-sys-body-medium);
   grid-area: name;
}

.time {
   font: var(--mat-sys-body-medium);
   grid-area: time;
}

.position {
   grid-area: left;
   text-align: center;
}

.club {
   font: var(--mat-sys-body-small);
   grid-area: club;
}

.oclass {
   font: var(--mat-sys-body-small);
   grid-area: oclass;
}

.behind {
   font: var(--mat-sys-body-small);
   grid-area: behind;
}