<mat-toolbar>
  <app-sidenav-button> </app-sidenav-button>
  About
</mat-toolbar>


<div fxLayout="row" fxLayoutAlign="center center">
  <mat-accordion fxFlex="0 1 800px">
  
    <app-about-item title="Introduction">
      Splitsbrowser was origane
      Display of UK fixtures
    </app-about-item>

    <app-about-item title="Fixture features">
      Fixtures are displayed from:
      <ul>
        <li>British orienteering fixture list</li>
        <li>British Army Orineteering Association fixtures</li>
      </ul>
      There are two views of 

      Filtering of fixtures by 
          <ul>
            <li>Weekday</li>
            <li>British Army Orineteering Association fixtures</li>
          </ul>

        The following actions may be perfomed on fixtures
            <ul>
              <li>Weekday</li>
              <li>British Army Orineteering Association fixtures</li>
            </ul>

    </app-about-item>

      <app-about-item title="Development">
         Splitsbrowser source code is located at <a href="https://github.com/daveryderoxford/ngSplitsBrowser">Github</a>
         It runs on Firebase/Google Cloud.  
         It make use of the following open source packages 
            <ul>
              <li>Leaflet</li>
              <li></li>
            </ul>
         It is written in Typescript. 
      </app-about-item>

          <app-about-item title="Acknoledgements">
             The fixture map is based on mp by Ollie O'Brien <a href="https://map.oobrien.com/">https://map.oobrien.com/</a>
             British oreinteering fixtures are 
          </app-about-item>

          <app-about-item title="Privacy policy">
              Our privacy policy is documented <a routerLink="/about/privacy">here</a>
           </app-about-item>

      <app-about-item title="Contact details">
        Please mail <a href="support@splitsbrowser.org.uk">support@splitsbrowser.org.uk</a> with any comment problems or issues. 
      </app-about-item>


  </mat-accordion>

</div>