<app-sidenav-button> </app-sidenav-button>

<mat-card>
  <mat-card-header>
    <mat-card-title>Splitsbrowser History</mat-card-title>
    <mat-card-subtitle>A brief history of Splitsbrowser</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    Splitsbrowser was originally a Java application developed by Dave Ryder during the 1990's ' 
    Ed Nash and subsequently a php application was 

    Splitsbrowser have
    website The Java application was ported to php and greatly enhanced by  
    <a href='https://github.com/LukeWoodward/SplitsBrowser'>Luke Woodward</a>.

    More recently it has been combined into both versions of RouteGadget written by 
    <a href='https://github.com/Maprunner/rg2/wiki/Splitsbrowser-integration'>
    Simon Errington</a> and <a href='http://www.routegadget.net/index.php?stay'>XXXXX</a>

    Recently Splitsbrowser has been updated to store 
    Other counteries maintaining their own Splitsbrowser installations include: 
         https://www.nivut.org.il/splitsbrowser/

         IF Femman http://www.femman.fi/
         Swiss oreinteeing fedration 

         Version that provides closer intagration between 
    
    </mat-card-content>

</mat-card>