
  :host {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(0, 500px) 1fr;
    grid-template-rows: calc(100vh - 40px - 44px);
    grid-template-areas: " ...       list    ... ";
    background-color: var(--mat-sys-surface-container-low);
  }

  mat-list {
    width: minmax(0,500px);
  }

  .filter {
    grid-area: filter;
  }

  .list {
    grid-area: list;
  }

