<div class="filter">


</div>

<cdk-virtual-scroll-viewport 
    itemSize="88" 
    class="list" 
    (scrolledIndexChange)="scrollPositionChanged($event)">
  <mat-list>
    <app-event-list-item 
         *cdkVirtualFor="let event of events(); trackBy: trackByEventId" 
         [event]="event"
         [selected]="event.key === es.selectedEvent()?.key"
         [truncateTitle] ="this.breakpoints.narrowScreen()"
         (eventClicked)="eventClicked(event)" />
  </mat-list>
</cdk-virtual-scroll-viewport>

@if (isLoading()) {
<mat-progress-bar mode="indeterminate" />
}