<mat-toolbar class=bottom-shaddow>

  <mat-toolbar-row>
    <a routerLink="/">Splitsbrowser</a>

    <div fxLayout="row" fxFlex fxLayoutAlign="end center">

      <button mat-button routerLink="/events">Results</button>
      <button mat-button routerLink="/admin/event-admin">Manage</button>
      <button mat-button (click)="importResults()">Import</button>

      <a *ngIf="!authorised" mat-icon-button routerLink="/login">
        <mat-icon class="material-icons md-26">account_box</mat-icon>
      </a>

      <a *ngIf="authorised" mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon class="material-icons md-26">account_box</mat-icon>
      </a>

    </div>
  </mat-toolbar-row>

</mat-toolbar>

<mat-menu #appMenu="matMenu" xPosition="before">
  <button routerLink="/user" mat-menu-item>User settings</button>
  <button (click)="logout()" mat-menu-item>Logout</button>
</mat-menu>