
.background {
   background-color: var(--mat-sys-surface-container-low);
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   height: 100%;
}

.class-filter {
   display: flex;
   padding: 20px;
}

.data-container {
   display: flex;
   flex-direction: column;
   max-width: 1500px;
   min-width: 300px;
   margin: 5px;
   height: 100%;
   box-sizing: border-box;
   flex-grow: 1;
   overflow: scroll;
}


