<div class="background">

  <div class="class-filter">
    <mat-form-field>
      <mat-select placeholder="Nationality" (selectionChange)="clubNationalFilterChange($event)">
        <mat-option *ngFor="let nation of nations" [value]="nation.abrievation">
          {{ nation.fullname }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput #clubNameFilter placeholder="Name" (keyup)="clubNameFilterChange($event)">    
    </mat-form-field>
  </div>

  <div class="data-container mat-elevation-z2">

    <mat-accordion multi="false">

      <div *ngFor="let club of clubs$ | async">

      <mat-expansion-panel (opened)="setSelectedClub(club)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b> {{club.name}} &nbsp;&nbsp;&nbsp; {{club.nationality}} </b>
          </mat-panel-title>
          <mat-panel-description>
            {{club.numEvents}} events &nbsp;&nbsp;&nbsp; Last event {{club.lastEvent | date}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>

            <app-events-table [dataSource]="clubEvents" [displayedColumns] = " ['date', 'name', 'nationality', 'grade', 'discipline', 'type', 'website', 'actions']"
            (eventSelected)="eventClicked($event)"></app-events-table>
          </ng-template>

        </mat-expansion-panel>
      </div>
      <mat-progress-bar *ngIf="loading | async" mode="indeterminate"></mat-progress-bar>

      </mat-accordion>

    </div>
  </div>