<div class="background">

  <div class="class-filter">
    <mat-form-field appearance="outline" class="dense-form-field" subscriptSizing="dynamic">
      <mat-label>Nationality</mat-label>
      <mat-select (selectionChange)="clubNationalFilterChange($event)">
        @for (nation of nations; track nation) {
          <mat-option [value]="nation.abrievation">
            {{ nation.fullname }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="dense-form-field" subscriptSizing="dynamic">
      <mat-label>Name</mat-label>
      <input matInput #clubNameFilter (keyup)="clubNameFilterChange($event)">
    </mat-form-field>
  </div>

  <div class="data-container mat-elevation-z2">

    <mat-accordion multi="false">

      @for (club of clubs$ | async; track club) {
        <mat-expansion-panel (opened)="setSelectedClub(club)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{club.name}}  @if ((clubNationalityFilter$ | async) === '') {
                <span> &nbsp;&nbsp;&nbsp; {{club.nationality}} </span>
              }
            </mat-panel-title>
            <mat-panel-description>
              {{club.numEvents}} events &nbsp;&nbsp;&nbsp; Last event {{club.lastEvent | date}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <mat-list>
              @for (event of clubEvents; track event.key) {
                <app-event-list-item [event]="event" (eventClicked)="eventClicked(event)" />
              }
            </mat-list>
          </ng-template>
        </mat-expansion-panel>
      }

      @if (loading$ | async) {
        <mat-progress-bar mode="indeterminate" />
      }

    </mat-accordion>

  </div>
</div>
