:host {
   display: flex;
   flex-direction: column;
   height: 100%; 
   max-width: 600px;
   width: 100vw;
   overflow: hidden; 
}

.events-viewport {
   height: calc(100vh - 60px - 44px); // Set fixed height for virtual viewport
}

.centered-list {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   height: 100%;
}

.event-list-item {
   cursor: pointer;
   max-width: 600px;
   width: 100vw;

   &:hover {
      background-color: rgba(0, 0, 0, 0.04);
   }
}

.loading-spinner {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   position: absolute; // To overlay or position at bottom
   bottom: 10px;
   width: 100%;
}

.status-message {
   text-align: center;
   padding: 20px;
   color: grey;
}

.no-events {
   margin-top: 20px; // Give some space if list is empty
}
