:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.dummy-button {
  min-width: 36px;
}

.table-container {
  min-width: 300px;
  overflow: scroll;
  align-self: flex-start;
  max-width: 100%;
}

.table {
  table-layout: fixed;
}

.fastest {
  color: red;
  font-weight: bold;
}

.second {
  color: blueviolet;
  font-weight: bold;
}

.third {
  color: black;
  font-weight: bold;
}

.splitcolumn {
  width: 15spx;
  min-width: 100px;
  padding-right: 8px;
}

.timecolumn {
  width: 75px;
  min-width: 75px;
  padding-right: 8px;
}

.positioncolumn {
  width: 12px;
  min-width: 0px;
  padding-right: 4px;
  text-align: center;
}

.namecolumn {
  max-width: 200px;
  width: 175px;
  min-width: 150px;
  padding-right: 8px;
}

tr {
  border: 1px solid #e0e0e0;
}

th.mat-sort-header-sorted {
  color: black;
}