<app-toolbar title="Upload new event" style="grid-area: toolbar" />

<mat-stepper orientation="horizontal" [linear]="true" class="steps">

   <mat-step label="Details">
      <app-event-form (submitted)="saveEventDetails($event)" />
   </mat-step>

   <mat-step label="Upload results">
      <p>
         Select results file to upload.
      </p>
      <file-button (fileSelected)="uploadSplits($event)" [disabled]="busy()" label="Select results file" />

   </mat-step>

   <mat-step label="Done">
      <p class="mat-title-medium">
         Results sucessfilly uploaded.
      </p>
      <p>Copy the following URL to link directly to Splitsbropwser for the event</p>
      <p class="mat-title-medium">
         @let url = "htttps//:splitsbrowser.org.uk/" + oevent()?.key;
         {{url}} <mat-icon (click)="copyText(url)" class="copy-icon" matTooltip="Copy">content_copy</mat-icon>
      </p>
      @let evt = oevent();
      @if (evt) {
         @if (evt.splits) {
            Uploaded aplits file:  {{evt.splits.splitsFilename}} 
            {{evt.splits.splitsFilename ? 'Splits valid' : 'Error in uploaded splits - Correct error and upload again'}}
         } @else {
            Splits not yet uploaded.
         }
         @if (evt.summary) {
            <p>{{evt.summary.numcompetitors}} competitors</p>
            <p>{{evt.summary.courses.length}} courses</p>
         }
      }
      <button mat-flat-button (click)="done()">Done</button>
   </mat-step>
</mat-stepper>
