<app-navbar> </app-navbar>


<div fxLayout="column" fxLayoutAlign="start">

  <div fxFlex=350px fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div>
      <h1>Splitsbrowser</h1>
      <h3>Orienteering results analysis</h3>
    </div>

    <div fxFlexAlign=end>
      <mat-list dense>
        <h3 matSubheader>Recent Results</h3>
        <div *ngFor="let event of events | async" (click)="eventClicked(event)">
          <mat-list-item>
            <span matLine class='list-header'> {{ event.eventdate |  date }}  {{ event.name }} </span>
            <span matLine>
                  {{event.nationality}}  {{event.club}}
              </span>

          </mat-list-item>
        </div>
      </mat-list>
    </div>
  </div>

  <div class="gray_background panel_margin">

    <div fxLayout="row" fxFlex='100%' fxLayoutGap=30px fxLayoutAlign="space-around" 
         fxLayout.xs="column" fxFlex.xs='100%' fxLayoutAlign.xs="start center"
         class="gray_background">

      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar color=primary class="material-icons.md-36">directions_run</mat-icon>
          <mat-card-title>Competitors</mat-card-title>
          <mat-card-subtitle>Orienteering results analysis</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>
            Splitsbrowser supports viewing of the results of orienteering events. Competitors can maintain a list of events they have
            attended.
          </p>
        </mat-card-content>
        <mat-card-actions>
           <button mat-button routerLink="/about">About</button>
          <button mat-button routerLink="/admin">Results</button>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Event organisers</mat-card-title>
          <mat-card-subtitle>Upload event results for viewing</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>
            Event organisers may upload event results In order to download event a event you will need to register as user
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/admin">Add Event</button>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Developers</mat-card-title>
          <mat-card-subtitle>Enhance Splitsbrowser or </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>
            Splitsbrowser is based on Open Source software. The source code and is avalible on Github.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button href="https://github.com/daveryderoxford/ngSplitsBrowser">GitHub</a>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>

  <div fxFlex=50px class=footer fxLayout="row" fxLayoutAlign="start center">
    <a fxFlexOffset=20px class=footer_link href="mailto:support@splitsbrowser.org.uk">Contact</a>
    <div fxLayout="row" fxLayoutGap=20px fxFlex fxLayoutAlign="end center">
      <a class=footer_link routerLink="/about">About</a>
      <a class=footer_link href="https://github.com/daveryderoxford/ngSplitsBrowser">Github</a>
      <div></div>
    </div>
  </div>

   