<app-navbar> </app-navbar>

<div>
  <div fxLayout="row" fxFlex fxLayoutAlign="space-around center">

    <md-card>
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>About Splitsbrowser</md-card-title>
        <md-card-subtitle>Orienteering results analysis</md-card-subtitle>
      </md-card-header>

      <md-card-content> 
        <p>
          Splitsbrowser
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>MORE</button>
      </md-card-actions>
    </md-card>

    <md-card>
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>About Splitsbrowser</md-card-title>
        <md-card-subtitle>Orienteering results analysis</md-card-subtitle>
      </md-card-header>

      <md-card-content>
        <p>
          Splitsbrowser
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>MORE</button>
      </md-card-actions>
    </md-card>

  </div>
</div>