<ng-container *ngIf="layout ==='top'">
   <mat-toolbar class=bottom-shaddow>

      <mat-toolbar-row>
         <a routerLink="/">Splitsbrowser</a>

         <div fxLayout="row" fxFlex fxLayoutAlign="end center">

            <button mat-button routerLink="/fixtures">Fixtures</button>
            <button mat-button routerLink="/events">Results</button>
            <button mat-button routerLink="/admin/event-admin">Manage</button>

            <button mat-button (click)="scriptsClicked()">Scripts</button>

            <a *ngIf="!authorised" mat-icon-button routerLink="/login">
               <mat-icon class="material-icons md-26">account_box</mat-icon>
            </a>

            <a *ngIf="authorised" mat-icon-button [matMenuTriggerFor]="appMenu">
               <mat-icon class="material-icons md-26">account_box</mat-icon>
            </a>

         </div>
      </mat-toolbar-row>

   </mat-toolbar>

   <mat-menu #appMenu="matMenu" xPosition="before">
      <button routerLink="/user" mat-menu-item>User settings</button>
      <button routerLink="/change-password" mat-menu-item>Change password</button>
      <button (click)="logout()" mat-menu-item>Logout</button>
   </mat-menu>

</ng-container>

<ng-container *ngIf="layout ==='menu'">

   <a mat-icon-button class="menu" [matMenuTriggerFor]="buttonMenu">
      <mat-icon class="material-icons md-26">menu</mat-icon>
   </a>

   <mat-menu #buttonMenu="matMenu" xPosition="before">

      <button mat-menu-item routerLink="/fixtures">Fixtures</button>
      <button mat-menu-item routerLink="/events">Results</button>
      <button mat-menu-item routerLink="/admin/event-admin">Manage</button>
      
      <mat-divider></mat-divider>

      <ng-container *ngIf="authorised">
         <button mat-menu-item routerLink="/user" >User settings</button>
         <button mat-menu-item routerLink="/change-password" >Change password</button>
         <button mat-menu-item (click)="logout()" >Logout</button>
      </ng-container>

      <button mat-menu-item *ngIf="!authorised" routerLink="/login">Login</button>

   </mat-menu>

</ng-container>