@use '@angular/material' as mat;

:host {
  @include mat.form-field-overrides((
      filled-caret-color: orange,
      filled-focus-active-indicator-color: red,
  ));

  @include mat.button-toggle-overrides((
    height: 35px,
    shape: 5px,
    selected-state-background-color: var(--mat-sys-primary),
    selected-state-text-color: var(--mat-sys-on-primary)
  ));

}

.fill-remaining-space {
  flex: 1 1 auto;
}

.gap10 {
  gap:10px;
}

.results-navbar-icon {
  height: 21px;
  margin: 0 7px 2px 0;
  vertical-align: middle;
}


