<mat-sidenav-container class="fullscreen">

  <mat-sidenav>

    <mat-action-list>

      <button mat-list-item (click)='closeSidenav(["/events"])'>Events</button>

      @if (ses.selectedEvent()) {
         <button mat-list-item (click)='navigateToEvent()'>Selected results</button>
      }
      <mat-divider />

      <!--  TODO Enable settings once effects implamented 
      <button mat-list-item (click)='closeSidenav(["/settings"])'>Settings</button>
      <mat-divider />
      -->

      @if (auth.user()) {
        @defer () {
          <app-user-result-button />
        } @placeholder {
          <button mat-list-item>Add user result</button>
        }
        <button mat-list-item (click)='closeSidenav(["/admin"])'>Administer results</button>
        <mat-divider />
        <button mat-list-item (click)='closeSidenav(["/user"])'>User details</button>
        <button mat-list-item (click)='closeSidenav(["/auth/change-password"])'>Change password</button>
        <button mat-list-item (click)="logout()">Logout</button>
      } @else {
        <button mat-list-item (click)='closeSidenav(["/auth/login"])'>Login</button>
      }

      <mat-divider />
      <a mat-list-item href="https://ofixtures.co.uk/fixtures">OFixtures</a>

      <mat-divider  />
      <button mat-list-item (click)='closeSidenav(["/about"])'>About</button>
      <button mat-list-item (click)='contact()'>Contact</button>

    </mat-action-list>

  </mat-sidenav>

  <mat-sidenav-content class="fullscreen">
    <router-outlet  />
  </mat-sidenav-content>