<mat-sidenav-container class="fullscreen">

  <mat-sidenav>

    <mat-action-list>

      <button mat-list-item (click)='closeSidenav(["/events"])'>Events</button>

      <button mat-list-item (click)='closeSidenav(["/admin"])'>Administer results</button>

      <mat-divider  />

      @if (auth.user()) {
        <button mat-list-item (click)='closeSidenav(["/user"])'>User settings</button>
        <button mat-list-item (click)='closeSidenav(["/auth/change-password"])'>Change password</button>
        <button mat-list-item (click)="logout()">Logout</button>
      } @else {
        <button mat-list-item (click)='closeSidenav(["/auth/login"])'>Login</button>
      }

      <mat-divider />
      <a mat-list-item href="https://ofixtures.co.uk/fixtures">OFixtures</a>

      <mat-divider  />
      <button mat-list-item (click)='closeSidenav(["/about"])'>About</button>
      <button mat-list-item (click)='contact()'>Contact</button>

    </mat-action-list>

  </mat-sidenav>

  <mat-sidenav-content class="fullscreen">
    <router-outlet  />
  </mat-sidenav-content>