@import '~styles.scss';

/* Structure */
.main-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.data-container {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  min-width: 300px;
  height: 100%;
}

.mat-table {
  overflow: scroll;
  max-height: 100%;
}


.background {
  background: $gray-background;
  margin: 0px;
  padding: 20px;
}

.selected {
  background: rgb(235,235,235);
}

.center {
  text-align: center;
}

.mat-table {
  overflow: auto;
}

.class-filter {
  display: flex;
  margin-left: 20px;
}

/* Workaround to meterial2 expansion panl bug see
https://github.com/angular/material2/issues/5269 */

::ng-deep .mat-expansion-panel-header {
  height: 48px;
}
::ng-deep .mat-expansion-panel-content:not(.mat-expanded):not(.ng-animating){
  display: none;
}

/* Fix for stickuy headers */ 
/*
#mat-table-wrap{display: flex; height:100%; overflow: hidden; position: relative;}
.mat-table{width:100%; height: calc(100% - 46px); overflow: scroll; margin-top: 48px;}
.mat-header-row{position: absolute; top: 0; left: 0; width: 100%; background: #fff; z-index: 5} */