:host {
   height: 100%;
   width: 100%;
   display: grid;
   overflow: hidden;
   grid-template-rows: 60px auto;
   grid-template-columns: 250px auto;
   grid-template-areas: 'header  header '
      'sidebar content';
}

app-results-navbar {
   grid-area: header;
}

app-competitor-list {
   grid-area: sidebar;
}

div {
   grid-area: content;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: flex-start;
   gap: 10px;
   background-color: #ebebeb;
   width: 100%;
   min-height: 0;
   overflow-y: scroll
   /* display: grid;
   grid-template-columns: repeat(2, 500px);
   grid-template-rows: repeat (auto, 500px);
   align-content: flex-start;
   justify-content: flex-start;
   gap: 10px;
   background-color: #ebebeb;
   overflow-y: scroll; */
}

.no-competitors {
   display: flex;
   align-items: center;
   justify-content: center;
}