
 .center {
  text-align: center;
}

.table {
  width: 100%;
  table-layout: fixed;

}

.nodata {
  color: rgb(235,235,235);
  width: 100%;
  text-align: center;
  margin-top: 50px;
  width: 100%;
}

tr:hover {
  background: rgb(245,245,245);
}

  .selected {
    background: rgb(225, 225, 225);
  }


th, td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}



