
 .center {
  text-align: center;
}

.table {
  width: 100%;
}

.nodata {
  color: rgb(235,235,235);
  width: 100%;
  text-align: center;
  margin-top: 50px;
  width: 100%;
}

tr:hover {
  background: rgb(235,235,235);
}