<app-toolbar>Map Reservation</app-toolbar>

<!-- Put form in middle of page -->
<div fxLayout="row" fxLayoutAlign="center space-around">

   <mat-card>
      <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">

         <mat-card-content>

            <div fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap=15px>

               <mat-form-field>
                  <input matInput formControlName="closingDate" [min]="minDate" [matDatepicker]="picker"
                     placeholder="Closing Date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
               </mat-form-field>

               <div fxLayoutAlign="start space-around">
                  Courses
                  <span fxFlex></span>
                  <button mat-button type="button" (click)="addCourse()">
                     ADD
                     <mat-icon [ngStyle]="{'color':'green'}">add_circle</mat-icon>
                  </button>
               </div>

               <mat-chip-list #chipList class="mat-chip-list-stacked">
                 
                     <mat-chip *ngFor="let course of courses; index as i" selected="true" selectable="true" removable="true" (removed)="removeCourse(course)"
                        (click)="editCourse(course, i)">
                        {{course.name}}
                        <span fxFlex></span>
                        <mat-icon matChipRemove>cancel</mat-icon>
                     </mat-chip>
               
               </mat-chip-list>

            </div>

         </mat-card-content>

         <mat-card-actions>

            <div fxLayout="row" fxLayoutAlign="space-between center">
               <button [disabled]="form.invalid || (!form.dirty && !coursesChanged)" mat-raised-button color=primary
                  type="submit">Save</button>
            </div>

         </mat-card-actions>

      </form>

   </mat-card>
</div>