.search-container {
   max-width: 500px;

   .mat-form-field {
      font-size: 14px;
      line-height: 0.9em;
      transition: width 0.4s ease-in-out;
      -webkit-transition: width 0.4s ease-in-out;
      width: 0px;
   }
}

.expanded {
   .mat-form-field {
      width: 300px;
   }

   .searchIcon {
      background: #e2e9eb;
   }
}