/* Structure */
.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.flexContainer {
  display: flex;
}

.flexItem {
  flex: 1;
}

.flexStart {
  justify-content: flex-start;
}

.flexEnd {
  justify-content: flex-end;
}

.header-container {
  flex: auto;
  display: flex;
  min-height: 70px;
  max-height: 70px;
  align-items: center;
}

.table-container {
  flex-grow: 1;
  min-width: 300px;
  overflow: scroll;
}

.selected {
   background: rgb(220,226,245);
}

.fastest {
  color: red;
  font-weight: bold;
}

.second {
  color: blueviolet;
  font-weight: bold;
}

.third {
  color: black;
  font-weight: bold;
}

.splitcolumn {
  width: 100px;
  min-width: 100px;
  padding-right: 8px;
}

.totaltimecolumn {
  width: 75px;
  min-width: 75px;
  padding-right: 8px;
}

.positioncolumn {
  width: 30px;
  min-width: 0px;
  padding-right: 8px;
}

.namecolumn {
  max-width: 200px;
    min-width: 100px;
  padding-right: 8px;
}

tr {
  border: 1px solid #e0e0e0;
}

th.mat-sort-header-sorted {
  color: black;
}