  <div scroll="none">
  <mat-toolbar>

   <button mat-button (click)="selected = selected -1" [disabled]="selected === 0" >
      <mat-icon>arrow_back</mat-icon>
   </button
   
   ><button mat-button [disabled]="selected >= maps.length-1" (click)="selected = selected +1">
      <mat-icon>arrow_forward</mat-icon>
   </button>
   <span fxFlex></span>
   <button mat-button (click)="location.back">
      <mat-icon>close</mat-icon>
  </button>

</mat-toolbar>

<app-map-image [imageURL]="'https://www.sn.routegadget.co.uk/kartat/154.gif'"></app-map-image>

</div>
