<app-toolbar title="Results Admin">
  
  <div end>
    <button mat-raised-button (click)="addEvent()">
      Add event
    </button>
  </div>

</app-toolbar>

<div fxFlex=450px fxLayout="column">


  @if (!new) {

  <mat-card>
    <mat-card-header>
        Upload Splits
    </mat-card-header>

    <mat-card-content>
      <div fxLayout=row>
        <file-button color=primary (fileSelected)="uploadSplits($event)" label="Upload Splits" />
        @if (selectedEvent.summary) {
        <span fxFlexAlign=end>
          Splits uploaded {{selectedEvent.summary?.courses.length}} courses <BR>
          @for (course of selectedEvent.summary.courses; track course.name) {
          <span> {{course.name}} &nbsp; &nbsp; </span>
          }
        </span>
        } @else {
        <span color=red> Splits not yet uploded</span>
        }
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      Delete Event
    </mat-card-header>

    <mat-card-content>
      <button mat-raised-button color=primary aria-label="delete" (click)="deleteEvent()">Delete</button>
    </mat-card-content>
  </mat-card>
}