<app-toolbar [title]="title()">
  <mat-form-field appearance="outline" class="dense-form-field" subscriptSizing="dynamic">
    <mat-label>View</mat-label>
    <mat-select [value]="eventAdmin.filter()" (selectionChange)="viewChanged($event)">
      @for (view of resultsViews; track view.type) {
      <mat-option [value]="view.type">
        {{ view.name }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <div end>
    <a mat-icon-button [disabled]="loading()" routerLink='/admin/add-event'>
      <mat-icon>add</mat-icon>
    </a>
  </div>
</app-toolbar>

@if (loading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @else if (eventAdmin.error()) {
  <p> Error occurred loading results</p>
  <p> Error details: {{eventAdmin.error().message}}
  </p>
} @else {
@if (!breakpoints.narrowScreen()) {
  <app-event-details-panel [event]="detailEvent()"></app-event-details-panel>
}

<app-event-list 
  [events]="eventAdmin.events()" 
  (edit)="editEvent($event)" 
  (delete)="deleteEvent($event)"
  (upload)="uploadSplits($event)" 
  (additionalDetail)="detailEvent.set($event)">
</app-event-list>
}