
/* Structure */
:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

mat-tab-group {
  height: calc(100vh - 60px);
}

mat-tab {
  height: 100%;
}

.fill {
  flex: 1 1 auto;
}


.spacer {
  flex: 1 1 auto;
}