:host {
   width: 100%;
   height: 100%;
   overflow: hidden;
   display: grid;
   align-items: start;
   gap: 10px;
   grid-template-columns: auto min(100%, 450px) auto;
   grid-template-rows: 60px auto;
   grid-template-areas: "toolbar toolbar toolbar"
                         ".      steps      .";
}

.steps {
  grid-area: steps;
  height: 100%;
  overflow-y: auto;
}
