@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

@mixin clipped-container {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.clipped-container {
  @include clipped-container;
}

html {
  @include mat.theme((
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$yellow-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: -1,
      use-system-variable: true,
      system-variables-prefix: sys,
    ));

  @include mat.toolbar-overrides((
      container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-primary),
    ));

  @include mat.button-toggle-density(-3);

  & {
     @include clipped-container;
  }

}

body {
  @include clipped-container;
  background: var(--mat-sys-secondary);
  color: var(--mat-sys-on-surface);
}

.rounded {
  --mdc-outlined-text-field-container-shape: 28px;
  font-size: 2em;
}

.dense-form-field {
  @include mat.form-field-density(-5);
}

.dense-toggle-button {
  @include mat.button-toggle-density(-5);
}

.dense-list {
  @include mat.list-density(-5);
}