@use '@angular/material' as mat;

@include mat.core();

@mixin clipped-container {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.clipped-container {
  @include clipped-container;
}

$theme: mat.define-theme((
      color: (theme-type: light,
        primary: mat.$azure-palette,
        use-system-variables: true,
      ),
      density: (scale: -1),
      )
);

html,
body {
  @include clipped-container;
  @include mat.all-component-themes($theme);
  @include mat.system-level-colors($theme);

  --mat-toolbar-container-background-color: #{mat.get-theme-color($theme, primary-container)};
 
  // Decrease default sizes for toggle buttons
   @include mat.button-toggle-density(-3);

}

.rounded {
  --mdc-outlined-text-field-container-shape: 28px;
    font-size: 2em;
}

.dense-form-field {
    @include mat.form-field-density(-5); 
}

.dense-toggle-button {
  @include mat.button-toggle-density(-5);
}

.background1 {
  background: mat.get-theme-color($theme, surface-container-high );
}
