@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
      ),
      density: (scale: -1))
);

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  @include mat.all-component-themes($theme);

  --mat-toolbar-container-background-color: #{mat.get-theme-color($theme, primary-container)};
 
  // Decrease default sizes for toggle buttons
   @include mat.button-toggle-density(-3);

}

.rounded {
  --mdc-outlined-text-field-container-shape: 28px;
    font-size: 2em;
}

.dense-form-field {
    @include mat.form-field-density(-5); 
}

.dense-toggle-button {
  @include mat.button-toggle-density(-5);
}

