<div>
  <form [formGroup]="f" (ngSubmit)="submit()" novalidate>

    <div fxLayout="column" fxFlex fxLayoutAlign="space-around" fxLayoutGap=10px>

      @if (showProgressBar) {
        <mat-progress-bar mode="query"> </mat-progress-bar>
      }

      <mat-form-field appearance="legacy" >
        <input matInput formControlName="name" placeholder="Event Name">
        <mat-error>Name required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="date" placeholder="Date" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>Date required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="nationality" placeholder="Nationality">
          @for (nation of nations; track nation) {
            <mat-option [value]="nation.abrievation">
              {{ nation.fullname }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="club" minlength=2 maxlength=10 placeholder="Club abrievation" [matAutocomplete]="auto">
        <mat-hint align="end">Between 2 and 10 characters</mat-hint>
        <mat-error>Club required</mat-error>

        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayClub">
          @for (club of filteredClubs$ | async; track club) {
            <mat-option [value]="club.name">
              {{ club.name }}
            </mat-option>
          }
        </mat-autocomplete>

      </mat-form-field>


      <mat-form-field>

        <mat-select formControlName="grade" placeholder="Grade">
          @for (grade of grades; track grade; let i = $index) {
            <mat-option [value]="grade">
              {{ grade }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>

        <mat-select formControlName="type" placeholder="Type">
          @for (type of types; track type) {
            <mat-option [value]="type">
              {{ type }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>

        <mat-select formControlName="discipline" placeholder="Discipline">
          @for (discipline of disciplines; track discipline) {
            <mat-option [value]="discipline">
              {{ discipline }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="controlCardType" placeholder="Punching type">
          @for (controlCardType of controlCardTypes; track controlCardType) {
            <mat-option [value]="controlCardType">
              {{ controlCardType }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="webpage" placeholder="Web page">
        <mat-error>Invalid URL</mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <button [disabled]="f.invalid" mat-raised-button color=primary type="submit" aria-label="login">Save</button>
      </div>

    </div>

  </form>
</div>
