.container {
     width: 100%;
     height: 100%;
     position: relative;
}

/* Top right  */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  z-index: 10000;
  background: rgba(255, 255, 255, 1.0);
  padding-top: 10px;
  padding-left: 10px;
}