@use '@angular/material' as mat;

:host {
  // flex-grow: 1;
   overflow-y: scroll;
   min-height: 20px;
   max-height: 100%;
   height: 100%;
}

.top-controls {
   display: flex;
   flex-direction: row;
   gap : 8px;
   align-items: center;
   margin: 8px 5px 5px 8px;
}

.search-button {
   margin-left: auto;
}

.crossing-runners {
   width: 90%;
   margin: 8px 0px 5px 8px;
}  

ol {
   margin: 3px;
   padding: 0px;
   width: 220px;  // Required to avoid layout shift when animating sidebar width
}

li {
   display: grid;
   grid-template-columns: 28px 1fr 1fr 48px;
   grid-template-rows: auto;
   grid-template-areas:
      "left name name time"
      "left club oclass behind";
   padding-top: 5px;
}

.position {
   grid-area: left;
   text-align: center;
   align-self: center;
   font: var(--mat-sys-body-small);
}

.circle {
   grid-area: left;
   align-self: center;
}

.name {
   font: var(--mat-sys-body-medium);
   grid-area: name;
}

.time {
   font: var(--mat-sys-body-medium);
   grid-area: time;
}

.club {
   font: var(--mat-sys-body-small);
   grid-area: club;
}

.oclass {
   font: var(--mat-sys-body-small);
   grid-area: oclass;
}

.behind {
   font: var(--mat-sys-body-small);
   grid-area: behind;
}