<app-toolbar title="Splitsbrowser events">
  <div end>
    <a mat-button routerLink='/admin/add-event'>Upload results</a>
  </div>
</app-toolbar>

<mat-tab-group class=fill mat-stretch-tabs="false" mat-align-tabs="start" backgroundColor="primary" dynamicHeight>
  <mat-tab label="All">
    <ng-template matTabContent>
      <app-all-events-tab (eventSelected)="eventClicked($event)" />
    </ng-template>
  </mat-tab>

  <mat-tab #tabClub label="Club">
    <ng-template matTabContent>
      <app-club-events-tab (eventSelected)="eventClicked($event)" />
    </ng-template>
  </mat-tab>

  <mat-tab #tabMyEvents label="My Results">
    <ng-template matTabContent>
      <app-my-events-tab (eventSelected)="eventClicked($event)" />
    </ng-template>
  </mat-tab>

</mat-tab-group>