
<div class="main-container">

<app-navbar></app-navbar>

  <mat-tab-group (selectedTabChange)="tabChanged($event)" backgroundColor="primary">
    <mat-tab #tabAll label="ALL">
      <ng-template matTabContent>

        <div class="background">

          <div class="data-container mat-elevation-z2" (scroll)="onTableScroll($event)">
            <table mat-table class="table" #table [dataSource]="dataSource" >

              
              <!-- Date Definition -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let row"> {{row.date | date }} </td>
              </ng-container>

              <!-- Age Definition -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
              </ng-container>

              <!-- Nationality Definition -->
              <ng-container matColumnDef="nationality">
                <th mat-header-cell *matHeaderCellDef>Nationality</th>
                <td mat-cell *matCellDef="let row" ngClass=center> {{row.nationality}} </td>
              </ng-container>

              <!-- Club Definition -->
              <ng-container matColumnDef="club">
                <th mat-header-cell *matHeaderCellDef>Club</th>
                <td mat-cell *matCellDef="let row" ngClass=center> {{row.club}} </td>
              </ng-container>

              <!-- Grade Definition -->
              <ng-container matColumnDef="grade">
                <th mat-header-cell *matHeaderCellDef>Grade</th>
                <td mat-cell *matCellDef="let row" ngClass=center> {{row.grade}} </td>
              </ng-container>

              <!-- Type Definition -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let row" ngClass=center> {{row.type}} </td>
              </ng-container>

              <!-- Disapline Definition -->
              <ng-container matColumnDef="discipline">
                <th mat-header-cell *matHeaderCellDef>Discipline</th>
                <td mat-cell *matCellDef="let row" ngClass=center> {{row.discipline}} </td>
              </ng-container>

              <!-- website -->
              <ng-container matColumnDef="website">
                <th mat-header-cell *matHeaderCellDef>Website</th>
                <td mat-cell *matCellDef="let row" ngClass=center>
                  <a *ngIf="(row.webpage !== '') && (row.webpage !== undefined)" href={{row.webpage}}>
                    <mat-icon>link</mat-icon>
                  </a>
                </td>
              </ng-container>

              <!-- Actions -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let row" ngClass=center>
                  <div *ngIf="row === currentRow">
                    <mat-icon>home</mat-icon>
                  </div>
                </td>
              </ng-container>

              
              <!-- Header and Row Declarations -->
              <tr mat-header-row  *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)=oeventClicked(row) (mouseenter)="onMouseEnter(row)" (mouseleave)="onMouseLeave(row)"
                [ngClass]="rowStyle(row)"></tr>
            </table>

            <mat-progress-bar *ngIf="loading | async" mode="indeterminate"></mat-progress-bar>

          </div>
        </div>

      </ng-template>
    </mat-tab>

    <mat-tab #tabClub label="CLUB">
      <ng-template matTabContent>

        <div class="background">

          <div class="class-filter">
            <mat-form-field>
              <mat-select placeholder="Nationality" (selectionChange)="clubNationalFilterChange($event)">
                <mat-option *ngFor="let nation of nations" [value]="nation.abrievation">
                  {{ nation.fullname }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input matInput #clubNameFilter placeholder="Name" (keyup)="clubNameFilterChange($event)">    
            </mat-form-field>
          </div>

          <div class="data-container mat-elevation-z2">

            <mat-accordion multi="false">

              <div *ngFor="let club of clubs$ | async">

              <mat-expansion-panel (opened)="setSelectedClub(club)">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <b> {{club.name}} &nbsp;&nbsp;&nbsp; {{club.nationality}} </b>
                  </mat-panel-title>
                  <mat-panel-description>
                    {{club.numEvents}} events &nbsp;&nbsp;&nbsp; Last event {{club.lastEvent | date}}
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                   
                  <mat-list *ngFor="let event of clubEvents">
                    <mat-list-item> {{event.name}}  {{event.nationality}}  {{event.splits?.valid}}</mat-list-item>
                  </mat-list>
                  The club is {{club.name}}

                </ng-template>

              </mat-expansion-panel>
            </div>
            <mat-progress-bar *ngIf="loading | async" mode="indeterminate"></mat-progress-bar>

            </mat-accordion>

          </div>
        </div>

      </ng-template>

    </mat-tab>

    <mat-tab #tabMyEvents label="MY RESULTS">
      <ng-template matTabContent>

        <mat-list *ngFor="let result of myResults$ | async">
          <mat-list-item> {{result.eventInfo.na}</mat-list-item>
        </mat-list>
      </ng-template>
    </mat-tab>

  </mat-tab-group>

</div>

<mat-menu #appMenu="matMenu" xPosition="before">
  <button (click)="graphMenuSelected(selectedEvent)" mat-menu-item>Graph</button>
  <button (click)="summaryMenuSelected(selectedEvent)" mat-menu-item>Summary</button>
  <button *ngIf="eventEditable(selectedEvent)" (click)="adminMenuSelected(selectedEvent)" mat-menu-item>Admin</button>
</mat-menu>